*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* sets the font and background for website */
body{
    background-color: #9ba87c;
    font-family: Arial, Helvetica, sans-serif;
}

/* makes the header a flex container, and centers the items vertically and horizontally */
header{
    background-color: #17330D;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* positions the title of the webpage and gives it a cool tilt */
header h1{
    background-color: #30321C;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    border: .3rem solid black;
    padding: 0.5rem;
    margin-left: 1rem;
    transform: skewX(340deg);
}

header nav{
    padding: 2rem;
}

/* gets rid of the underline on the links, and gives them proper space */
header nav a{
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    background-color: #30321C;
    padding: 1rem;
    margin: -0.14rem;
    border: .1rem solid black;
}

/* when hovering over the nav links, the color will change to black and the border will be white */
header nav a:hover{
    color: black;
    border: .1rem solid #fff;
}

/* adds the banner background image, makes it relative to contain the caption */
.hero{
    height: 25rem;
    position: relative;
    background-image: url(./images/20180521_181724.jpg);
    background-position: center;
    background-size: cover;
}

/* decorates the caption and makes it absolute to stay in the corner of the banner image */
.hero figcaption{
    padding: 1.3rem;
    border: .3rem solid #0f350d;
    transform: skew(350deg);
    font-size: 1.5rem;
    font-weight: 700;
    background-color:#30321C ;
    color: #fff;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

/* Centers the sections and gives them an underline */
.Section-head{
    text-align: center;
    background-color: #17330D;
    color: #fff;
    font-size: 3rem;
    text-decoration: underline;
}

/* used for the About Me and Contact Info, makes positioning items easier and more responsive for tiny screens */
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* adds style to the description box */
.Description{
    font-size: 1.3rem;
    background-color: #fff;
    max-width: 40rem;
    margin: 2rem 2rem 2rem 2rem;
    padding: 1rem;
    border: .2rem solid #17330D;
    text-indent: 2rem;
    line-height: 2rem;
}

/* sizes the image and gives it a border */
#prom{
    width: 25rem;
    margin: 2rem;
    border: .2rem solid #17330D;
}

/* creates flex container for the Works section, .flex not used to make selecting easier to organize */
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* sets size for the projects */
.projects a{
    flex: 1 0 50%;
    margin: 1rem;
    border: .2rem solid #0f350d;
    max-width: 40%;
}

/* makes the first project the biggest, and prevents the other projects from being on the same row */
.projects a:first-of-type{
    flex: 0 1 100%;
    max-width: 60%;
}

/* allows for specific placement of the caption */
.p1{
    position: relative;
}

/* positions the caption on the bottom left */
.p1 figcaption{
    background-color: #0f350d;
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 0.5rem;
}

/* the images for the projects - display:block for the caption and opacity ease-in to oppose the ease-out transition */
.p1 img{
    width: 100%;
    display: block;
    opacity: 0.5;
    transition: opacity .2s ease-in;
}

/* ease-out transition */
.p1 img:hover{
    opacity: 1;
    transition: opacity .2s ease-out;
}

#contact-links{
    margin: 2rem;
}

#contact-links a{
    margin: 2rem;
    padding: 1rem;
    background-color: #30321C;
    color:#fff ;
    border: .1rem solid black;
    text-decoration: none;
}

/* changes colors when hovering */
#contact-links a:hover{
    color: black;
    border:.1rem solid #fff;
}

footer{
    text-align: center;
    padding: 2rem;
    border-top: .3rem solid black;
    background-color: #17330D;
}

/* turns header into a column when screen is <768px wide, navbar becomes vertical and easy to tap on a phone */
@media screen and (max-width:768px ){
    header{
        flex-direction: column;
    }
    header nav{
        display: grid;
        text-align: center;
        padding: 0
    }
    header nav a{
        text-decoration: underline;
        background: none;
        border: none;
        padding: .5rem;
    }
    header nav a:hover{
        border: none;
    }
}